- return unless show_buy_ci_minutes?

%li
  = link_to profile_pipeline_quota_path,
    class: 'ci-minutes-emoji',
    data: { 'track-event': 'click_buy_ci_minutes', 'track-label': current_user.namespace.actual_plan_name, 'track-property': 'user_dropdown' } do
    = s_("CurrentUser|Buy CI minutes")
    = emoji_icon('clock9', 'aria-hidden': true)
